/* #title */
#title {
    font-size: 10vw;
    padding: 0 0 40px 5%;
    text-decoration: underline;
    font-family: "poppinsregular";
}

/* .cv */
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.cv h3 {
    padding: 0 60% 10px 0;
    font-family: "poppinsregular";
    text-decoration: underline;
}

.cv section {
    width: 60%;
    height: 40vh;
    border: 1px solid;
}

/* .tableau */
.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.tableau h3 {
    padding: 0 0 10px 50%;
    font-family: "poppinsregular";
    text-decoration: underline;
}

.tableau section {
    width: 80%;
    height: 20vh;
    border: 1px solid;
}